*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/.gitignore
/.idea/AndroidProjectSystem.xml
/.idea/compiler.xml
/.idea/copilot.data.migration.agent.xml
/.idea/copilot.data.migration.ask.xml
/.idea/copilot.data.migration.ask2agent.xml
/.idea/copilot.data.migration.edit.xml
/.idea/copilotDiffState.xml
/.idea/deploymentTargetSelector.xml
/.idea/gradle.xml
/.idea/markdown.xml
/.idea/migrations.xml
/.idea/misc.xml
/.idea/runConfigurations.xml
/.idea/vcs.xml
